*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.sidebarContentBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}