.info {
    display: flex;
}
.description-block {
    width: 60%;
    padding: 10px;
}
.product-block {
    width: 38%;
    border: 1px solid black;
}
.img-block {
    max-height: 200px;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
}
.product-block p {
    margin: 10px;
}
.red-btn {
    background: red;
    border: none;
    padding: 10px 20px;
}