.sidebar {
    width: 28%;
    border: 1px solid black;
    padding: 15px;
}
.categories {
    list-style: none;
    padding: 0;
    margin: 0;
}
.categories li {
    margin-bottom: 15px;
}
.categories a {
    text-decoration: none;
    text-transform: uppercase;
}