.product {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.img-block {
    max-height: 200px;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
}
.product p {
    margin: 10px;
}