.main-nav {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
.main-nav li {
    display: inline-block;
    margin-right: 25px;
}
.main-nav a {
    color: black;
    text-decoration: none;
}